@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:black;
    /* background:#0C1A1A; */
}
.card{
    /* border-radius: 5%; */
}
::-webkit-scrollbar {
    display: none;
    color: white;
}
.DetailDiscription{
    max-height: 50vh;
    min-height: 20vh;
}
.img{
    /* border: 5px solid red; */
}
/* .lpage{
    max-height: 20vh;
} */
.cimg{
    max-height: 40vh;
}
#cimgh{
    display: none;
}
.bd{
    /* border: 1px solid rgb(34, 197, 94); */
    border: 1px solid rgb(249, 115, 22);
}

.underlineAnimation{
    position: relative;
    text-decoration: none;
}
.underlineAnimation::before{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 0;
    background: white;
    border-radius: 50px;
    transition: width 0.4s ease;
}
.underlineAnimation:hover::before{
    width: 100%;
}